 h1 {
   color:slateblue;
   text-shadow: 2px 2px green;
   border-style: groove;
   width: 700px;
   margin-left:auto;
   margin-right: auto;
 }

 h2 {
   color:red;
 }
 body {background-color:lightgrey}
