 h1 {
   color:slateblue;
   text-shadow: 2px 2px green;
   border-style: groove;
   width: 700px;
   margin-left:auto;
   margin-right: auto;
   border-radius: 30px 30px 30px 30px;
   background: yellow;
   }
a:link {
  color: white;
  background-color: black;
  padding: 35px 50px
  }
h2 {
   color:red;
   margin-left: 75px;
 }
p {
  margin-left: 75px;
}
ul {
  margin-left: 100px;
}
body {background-color:lightgrey}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
